body {
  font-family: "Inter", sans-serif;
}

.hero {
  background: linear-gradient(290deg, #d6e6fe 0%, rgba(214, 252, 254, 0) 100%);
  border-radius: 0px 0px 35px 35px;
}

.bmiResult {
  border-radius: 16px;
  background: linear-gradient(90deg, #345ff6 0%, #587dff 100%);
}

.customRadioButton::before {
  content: '';
  position: absolute;
  left: 0;
  top: -3px;
  width: 31px; 
  height: 31px;
  border: 1px solid #D8E2E7;
  background-color: transparent;
  border-radius: 50%; 
  outline: none;
  transition: all 1s; 
}

.customRadioButtonImperial::before {
  left: -48px;
}

.hiddenRadioButton:checked + .customRadioButton::before {
  background-color: #345FF6;
  border: none;
  outline: 5px solid rgba(52, 95, 246, 0.15);;
}