body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3 {
  font-weight: 600 !important;
  color: #253347;
}

p {
  color: #5e6e85;
}

input::placeholder {
  color: rgba(37, 51, 71, 0.25)!important;
}

.hero {
  background: linear-gradient(290deg, #d6e6fe 0%, rgba(214, 252, 254, 0) 100%);
  border-radius: 0px 0px 35px 35px;
  max-height: 700px;
}

.bmiResult {
  border-radius: 16px;
  background: linear-gradient(90deg, #345ff6 0%, #587dff 100%);
}

.customCheck::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.12s ease-in-out;
  box-shadow: inset 1em 1em #345ff6;
}

.customCheck:checked::before {
  transform: scale(1);
}

.customCheck:checked {
  border: none;
  background-color: rgba(52, 95, 246, 0.15);
}

.marginFix-1 {
  margin-top: calc(925px - 100vw);
}

.advice {
  background: linear-gradient(290deg, #d6e6fe 0%, rgba(214, 252, 254, 0) 100%);
}

@media screen and (min-width: 640px) {
  .bmiResult {
    border-radius: 16px 100px 100px 16px;
  }

  .gridAreas {
    gap: 15px 24px;
    grid-template-areas:
      "gender age"
      "muscle pregnancy"
      "race race";
  }

  #gender {
    grid-area: gender;
  }

  #age {
    grid-area: age;
  }

  #muscle {
    grid-area: muscle;
  }

  #pregnancy {
    grid-area: pregnancy;
  }

  #race {
    grid-area: race;
    max-width: 365px;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    border-radius: 0px 0px 35px 0px;
  }
}
